$mainCaptionName: "cookiesMilk";
$mainCaptionUrl: "/fonts/cookiesMilk-Regular.ttf";
$mainTitleUrl: "/fonts/orangeJuice-20.ttf";
$mainTitleName: "orangeJuice";

@font-face {
  font-family: $mainCaptionName;
  src: url($mainCaptionUrl);
}

@font-face {
  font-family: $mainTitleName;
  src: url($mainTitleUrl); /* Путь к файлу со шрифтом */
}

$captionFontFamily: $mainCaptionName, "Century Gothic", sans-serif;
$titleFontFamily: $mainTitleName, "Century Gothic", sans-serif;