@import "_fonts";
@import "_colors";

$bgImageUrl: "/static/clearmain.png";
$oneLineHeight: 20vh;
$numLines: 100 / $oneLineHeight;

body {
  margin: 0;
  background-image: url($bgImageUrl);
  //background-attachment: fixed;
  background-size: cover;
}
