@import "_colors";
@import "_fonts";

.js-form__login {
  font-family: $titleFontFamily;
  margin-top: 5px;
  .panel {
    .panel-body {
      & > .form-group {
        margin-top:10px;
        font-family: $titleFontFamily;

        & > .input-group {
          padding-bottom: 20px;
        }
      }
      & > .sign_up_here {
        border-top: 1px solid #baaaaa;
        padding-top:10px;
        font-size: 85%;
      }
    }

  };

}
